.title-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0;
  min-height: 381px;
  padding: 62px 62px 97px;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 32px;
  color: #000;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
  margin: 0;
}

.title-icon {
  position: relative;
  margin-bottom: 10px;
}

.init-recommendation-card-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
/*===============DESCRIPTION===============*/

.init-recommendation-card-description {
  position: relative;
  align-self: center;
  z-index: 10;
  margin-top: -70px;
  width: 779px;
  max-width: 100%;
}

.init-recommendation-card-description-grid {
  gap: 20px;
  display: flex;
}

.init-recommendation-card-description-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 70%;
  margin-left: 0px;
}

.init-recommendation-card-description-text {
  color: #000;
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  margin: 0;
}

.button-StartRecommendationButton-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 30%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .content-container {
    max-width: 100%;
    margin-top: 40px;
  }

  .title-card {
    max-width: 100%;
    padding: 100px 20px 110px;
    white-space: initial;
  }

  .init-recommendation-card-description-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }

  .init-recommendation-card-description-column {
    width: 100%;
  }

  .init-recommendation-card-description-text {
    max-width: 100%;
    margin-top: 40px;
  }

  .button-StartRecommendationButton-column {
    width: 100%;
    margin-left: 0;
  }
}
/*==============================*/

.btn {
  border-radius: 6px;
  padding: 7px 14px;
}

.btn-outline {
  background-color: #fff;
  color: rgb(13, 88, 177);
}

.btn-primary {
  background-color: rgb(74, 144, 226);
  color: #fff;
  padding: 7px 29px;
}

.description-card {
  font: 400 18px Montserrat, sans-serif;
  text-align: justify;
}

@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }

  .nav-links {
    white-space: initial;
  }

  .search-box {
    padding-left: 20px;
  }

  .btn-primary {
    padding: 0 20px;
  }

  .main-content {
    margin-top: 40px;
    padding: 100px 20px 0;
  }

  .title {
    margin-top: 40px;
  }

  .description {
    margin-top: 40px;
  }

  .categories-card-button {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
