/*================ GERAL ================*/

.quiz-title {
  color: #000;
  text-transform: uppercase;
  font: 700 18px Poppins, sans-serif;
  text-align: center;

  margin: 0;
}

.navigation-questions {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  max-width: 731px;
  width: 100%;
  align-self: center;
}

/*================ QUESTÕES A RESPONDER ================*/

.question-options {
  align-self: center;
  width: 733px;
  max-width: 100%;
  margin-top: 58px;
}

/*=================  QUESTÃO SELECIONADA ==================*/
.option-container-selected {
  border-radius: 6px;
  background-color: rgba(74, 144, 226, 1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 71px;
  width: 100%;
  align-items: center;
  gap: 23px;
  padding: 7px 16px;
  margin-top: 11px;
}

.option-letter-selected {
  background-color: #fff;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b6cb0;
  font: 900 32px Roboto, sans-serif;
}
.option-text-selected {
  color: #fff;
  align-self: stretch;
  flex: 1;
  margin: auto 0;
  font: 700 18px Poppins, sans-serif;
}
/*================= QUESTÃO NÃO SELECIONADA ==================*/
.option-container-no-selected {
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 71px;
  width: 100%;
  align-items: center;
  gap: 23px;
  padding: 7px 16px;
  margin-top: 11px;
}

.option-container-no-selected:first-child,
.option-container-selected:first-child {
  margin-top: 0;
}

.option-letter-wrapper {
  align-self: stretch;
  display: flex;
  padding-top: 9px;
  flex-direction: column;
  width: 41px;
  margin: auto 0;
}

.option-letter-no-selected {
  background-color: #2b6cb0;
  border-radius: 50%;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 900 32px Roboto, sans-serif;
}

.option-text-no-selected {
  color: #1e1e1e;
  align-self: stretch;
  flex: 1;
  margin: auto 0;
  font: 700 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
  .question-options,
  .option-container,
  .option-text {
    max-width: 100%;
  }
  .quiz-title {
    max-width: 100%;
  }

  .question-options {
    margin-top: 40px;
  }

  .navigation-questions {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
  }
}
