.next-button {
  border-radius: 6px;
  border: 2px solid rgb(74, 144, 226);
  background-color: rgb(74, 144, 226);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font: 600 18px Montserrat, sans-serif;
  margin-top: 186px;
  margin-left: 18%;
  padding: 13px 30px; /* Ajuste para um padding simétrico */
  text-align: center;
  text-transform: uppercase;
  display: inline-block; /* Permite ajuste ao conteúdo */
  cursor: pointer;
}

.init-button {
  border-radius: 6px;
  border-color: rgb(74, 144, 226);
  background-color: rgb(74, 144, 226);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font: 600 18px Montserrat, sans-serif;
  margin-top: 186px;
  margin-left: 18%;
  padding: 13px 54px;
  text-align: center;
  text-transform: uppercase;
  width: 178px;
}
.init-button:hover {
  background-color: #3c7cd4;
}

.init-recommendation-button {
  padding: 1.5rem;
  font-size: 1.5rem;
}
.init-recommendation-button {
  background-color: #fff;
  border-radius: 47px;
  color: #1c62b5;
  font: 600 24px Montserrat, sans-serif;
  text-transform: uppercase;
  padding: 30px;
  margin-top: 29px;
  cursor: pointer;
}
.init-recommendation-button:hover {
  background-color: #f5f5f5;
}

/*============= BOTÕES DE NAVEGAÇÃO DAS QUESTÕES ===============*/
.navigation-questions-button {
  border: none;
  border-radius: 6px;
  background: #4a90e2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-transform: uppercase;
  font: 600 18px Montserrat, sans-serif;
  padding: 16px 47px;
  cursor: pointer;
}
.navigation-questions-button:hover {
  background: #3c7cd4;
}

@media (max-width: 991px) {
  .navigation-questions-button {
    padding: 16px 20px;
  }
}
