@import "./header.css";
@import "./categories.css";
@import "./categoriesCard.css";
@import "./hero.css";
@import "./recommendations.css";
@import "./toolCard.css";
@import "./toolSection.css";

@import "./engagement/engagement.css";

body {
  margin: 0px;
}

/* Responsivo para telas grandes acima de 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Telas grandes de até 1200px (laptops) */
@media (max-width: 1200px) {
}

/* Telas médias de até 768px (tablets) */
@media (max-width: 768px) {
}

/* Telas pequenas de até 480px (smartphones) */
@media (max-width: 480px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
/*=========================== ESTILO DAS PÁGINAS ===========================*/
.style-page {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.company-name {
  color: #0d58b1;
  font: 700 18px Poppins, sans-serif;
}

@media (max-width: 991px) {
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
