/* Telas pequenas de até 480px (smartphones) */
@media (max-width: 480px) {
  .header {
    padding: 10px 15px;
  }
  .main-nav {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 15px;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 19px 20px;
  }
  .main-nav {
    gap: 20px;
  }
}

/*=========== HEADER ============*/

.header {
  padding: 1.5rem;
}
.header {
  background-color: #e0eaf5;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 19px 29px;
}

/*=========== LOGO ============*/
.logo-container {
  display: flex;
  align-items: center;
  gap: 13px;
}

.logo {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

/*=========== MAIN-NAV ============*/
.main-nav {
  display: flex;
  gap: 58px;
}

.nav-item {
  color: #333;
  font: 400 14px Poppins, sans-serif;
  text-decoration: none;
}

/*=========== SEARCH ============*/
.search-container {
  background-color: #fff;
  border-radius: 6px;
  padding: 4px;
}

.search-icon {
  width: 24px;
  height: 24px;
}

/*=========== AUTH ============*/
.auth-buttons {
  display: flex;
  gap: 14px;
}

.register {
  background-color: #fff;
  color: #0d58b1;
}

.login {
  background-color: #4a90e2;
  color: #fff;
}
