.page-container {
  max-width: none;
}

.header-actions {
  display: flex;
  gap: 14px;
}

.header-action {
  border-radius: 6px;
  padding: 7px 14px;
  font: 500 12px Montserrat, sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.header-action.primary {
  background-color: #4a90e2;
  color: #fff;
}

.header-action.secondary {
  background-color: #fff;
  color: #0d58b1;
}

.engagement-content {
  background-color: #cfe5f7;
  padding-bottom: 40px;
}

.engagement-section {
  background-color: #e0eaf5;
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
  margin: 35px auto;
  max-width: 1058px;
  padding: 49px 80px;

  height: 100vh;
}

.section-title {
  color: #063150;
  font: 600 32px Montserrat, sans-serif;
  text-transform: uppercase;
}

.section-description {
  color: #063150;
  font: 400 18px Montserrat, sans-serif;
  margin-top: 19px;
}

.engagement-grid {
  display: flex;
  gap: 60px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.engagement-button {
  border-radius: 6px;
  border: 1px solid #4a90e2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 47px;
  background: transparent;
  cursor: pointer;
}

.engagement-options {
  margin-top: 12px;
}

.option-group {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 11px;
}

.option-label {
  color: #063150;
  font: 600 18px Montserrat, sans-serif;
  text-transform: uppercase;
}

.sub-options {
  display: flex;
  gap: 16px;
}

@media (max-width: 991px) {
  .engagement-section {
    padding: 0 20px 100px;
  }

  .nav-link {
    white-space: normal;
  }

  .header-action {
    padding: 7px 20px;
    white-space: normal;
  }
}
